parameters:
    ignoreErrors:
        - '#Calling method end\(\) on possibly null value of type Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface|null.#'
        - '#Parameter \#4 \$gdProvisioning of class Keboola\\GoodDataWriter\\App constructor expects Keboola\\GoodDataWriter\\ProvisioningClient, Mockery\\MockInterface given.#'
